body {
	background-color: #f0f8ff;
	color: #704F56;
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
}

h1 {
	font-style: italic;
	font-size: 3vw; /* Tamaño de fuente responsive */
	background-image: linear-gradient(to bottom, #704F56 25%, #8bc34a 25%, #4caf50 50%);
	background-position: -2% 95%;
	background-size: 100% 0.5vw; /* Tamaño de línea responsive */
	background-repeat: no-repeat;
	padding-bottom: 1vw; /* Espaciado responsive */
	text-align: left;
	margin:auto;
	
}

h2 {
	font-size: 3vw;
	color: #193c1a;
	text-align: center;
	margin-bottom: 0.5vw;
	background-image: linear-gradient(to bottom, #704F56 25%, #8bc34a 25%, #4caf50 50%);
	background-position: 0 85%;
	background-size: 90% 0.3vw; /* Tamaño de línea responsive */
	background-repeat: no-repeat;
	padding-bottom: 1vw; /* Espaciado responsive */
	
}

.ImgPrincipal {
	display: flex;
	justify-content: flex-start;
	width: 55%;
	margin: 0 auto; /* Centrar horizontalmente */
}

.boton {
	background-color: #7fff00;
	color: white;
	border: none; /* Eliminar borde */
	padding: 1vw 2vw; /* Espaciado responsive */
	margin-right: 1vw; /* Espaciado entre botones responsive */
	border-radius: 1vw; /* Radio de borde responsive */
	cursor: pointer;
}

.boton:hover {
	background-color: #75bd56;
}

.contenedor-botones {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.caja-texto {
	display: flex;
	align-items: left;
	width: 80%;
	margin: 1vw auto; /* Espaciado responsive y centrado horizontalmente */
	text-align: justify;
}

.caja-texto em {
	font-style: italic;
	font-size: 3vw;
	margin-right: 3vw; /* Espaciado entre texto y margen derecho responsive */
}

.WhatS {
	bottom: 0;
	right: 0;
	padding: 1vw; /* Espaciado responsive */
}

.WhatS img {
	width: 10vw; /* Tamaño de imagen responsive */
	height: auto;
	margin: 1vw 1.5vw; /* Espaciado entre imagen y margen responsive */
}

.invitacion {
	display: flex;
	align-items: center;
	width: 50%;
	margin: 2.5vw auto; /* Espaciado responsive y centrado horizontalmente */
	text-align: center;
}

.invitacion em {
	font-style: italic;
	font-weight: bold;
	font-size: 3vw; /* Tamaño de fuente responsive */
	margin-right: 3vw; /* Espaciado entre texto y margen derecho responsive */
}

.textoEmergente::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

.textoEmergente {
	background-color: #f0f8ff;
	font-style: italic;
	border-radius: 1vw; /* Radio de borde responsive */
	border: 0.4vw solid #1b521d; /* Grosor de borde responsive */
	min-width: 30%;
	max-height: 95%;
	padding: 1vw;
}

@keyframes parpadeo {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

.parpadeo {
	animation-name: parpadeo;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.lista {
	margin-bottom: 1px;
}

.imagen {
	width: 25vw; /* Tamaño de imagen responsive */
	height: auto;
	margin: 1vw; /* Espaciado entre imagen responsive */
	margin-left: 15vw; /* Margen izquierdo responsive */
}

.flecha {
	width: 30vw; /* Tamaño de flecha responsive */
	height: 7.5vw;
	margin: -2vw 10vw; /* Espaciado y margen izquierdo responsive */
	margin-left: 46.67vw; /* Margen izquierdo responsive */
}
